div.photosContent{
    width: 90%;
    margin: auto;
    height: 800px;
    overflow: scroll;
    position: relative;
    margin-top: 15px;
    background-color: white;
}

div.photosContent h3{
    text-align: center;
    color: grey;
}

div.fgallery{
    margin: 20px;
    width: 100px;
    height: 150px;
    float: left;
    position: relative;
}

div.fgallery img{
    width: 100%;
    height: auto;
}

div.fgallery p{
    text-align: center;
    color: white;
    font-size: 13px;
    color: grey;
}

